#homePage {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

button {
  &.btn {
    background: var(--primary);
    border: none;
    padding: 10px;
    color: var(--secondary);
    border-radius: 3px;
  }
}
