.card {
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
  height: 100px;
  text-align: center;
  position: relative;
  background-color: var(--ion-color-dark);
  color: var(--ion-color-light);
}

.card-enseigne {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 16px;
}
.card-texte {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-value {
  position: absolute;
  bottom: 5px;
  right: 0px;
  width: 32px;
}
