:root {
  --primary: #b91646;
  --secondary: #dfd8ca;
  --tertiary: #105652;
}

html {
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: "Poppins";
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
label {
  font-weight: bold;
}
input.input {
  border: 1px solid var(--primary);
  padding: 10px;
  border-radius: 10px;
}
