* {
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI",
    "Roboto", sans-serif;
  font-size: 12px;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
    env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
  text-transform: uppercase;
  width: 100%;
  background-color: #f8c291 !important;
}

/* Portrait layout (default) */
.app {
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
}

main {
  height: 100%;
  color: white;
}
main h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

#list .card {
  margin-bottom: 10px;
  /* width: 80%; */
}
#list {
  color: black;
  text-decoration: none;
}
#list .card img {
  height: auto;
}
#modal-unconnect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
#modal-unconnect.show {
  display: block;
}
#modal-unconnect .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
